<div class="row my-3 d-flex justify-content-between align-items-center w-100 p-0">
    <!-- topper side -->
    <div class="d-inline col-7 col-md-4">
        <button class="btn btn-back">
        <img src="../../assets/images/back.png" width="13px" alt="">
      </button>
        <span class="title">تذكرة رقم #2342 </span>
    </div>
    <!-- lower side -->
    <div class="d-inline col-5 col-md-3 d-flex justify-content-end px-0">
        <button type="button" class="btn btn-custom">
          <span>تعديل</span>
        <img class="d-inline mx-2" src="../../assets/images/edit.png" width="18px" alt="">
      </button>
    </div>
</div>
