<div class="row my-3 d-flex justify-content-between align-items-center w-100 p-0">
    <div class="d-inline col-md-4">
        <span class="title">مبيعات التذاكر</span>
        <div class="d-inline search">
            <input type="text" placeholder="بحث عن ..." class="form-control d-inline mx-2" style="width: 200px;">
        </div>
        <button class="btn btn-custom">
          <img src="../../assets/images/filter.png" width="16px" alt="">
        </button>
        <button class="btn btn-custom">
          <img src="../../assets/images/sort.png" width="16px" alt="">
        </button>
    </div>
    <div class="d-inline new-book col-md-3 d-flex justify-content-end px-0 mt-3">
        <div class="form-check form-switch d-flex align-items-center">
            <div class="d-inline-block ml-5">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">مفعلة</label>
            </div>
        </div>
        <button type="button" class="btn book-btn">حجز تذكرة جديدة</button>
    </div>
</div>
